
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 232px;
  margin-right: 4px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 766px wide, shift the content back to the left */

@media screen and (max-width: 766px) {
  div.content {margin-left: 0;}
}

/* Colors */

.navyblue {
  background-color: #365a7f;
} 


/* Bottom Designing */
.bottom img {
  height: 90px;
  width: 90px;
  padding: 10px;
}

#bottom{
  display: flex;
  width:35vw;
  justify-content: space-around;
}

.bot{
  display: flex;
  flex-direction: column;
  align-items: center;
}